<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.skylight1.beaconscan"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="19" />
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="com.google.android.glass.permission.DEVELOPMENT" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
    <service android:enabled="true"
        android:exported="true"
        android:isolatedProcess="false"
        android:label="iBeacon"
        android:name="com.radiusnetworks.ibeacon.service.IBeaconService">
    </service>

    <service android:enabled="true"
        android:name="com.radiusnetworks.ibeacon.IBeaconIntentProcessor">
    </service>
        
        <activity
            android:name="org.skylight1.beaconscan.MonitoringActivity"
            android:label="@string/app_name" >
            <intent-filter>
				<action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>            
        </activity>
        <activity
            android:name="org.skylight1.beaconscan.RangingActivity"
            android:label="@string/app_name" >
            <intent-filter>
            </intent-filter>
        </activity>
        <activity
            android:name="corg.skylight1.beaconscan.glass.MenuActivity"
            android:theme="@style/MenuTheme" />

        <service
            android:name="org.skylight1.beaconscan.glass.GlassService"
            android:label="@string/app_name"
            android:icon="@drawable/ic_scan"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.glass.action.VOICE_TRIGGER" />
            </intent-filter>
            <meta-data
                android:name="com.google.android.glass.VoiceTrigger"
                android:resource="@xml/beacon_scan" />
        </service>
        
    </application>

</manifest>